* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quadrado-1 {
    height: 70%;
    width: 100%;
    max-width: 480px;
    background-color: pink;
    padding: 40px 40px;
    border-radius: 15px;
}

.center {
    text-align: center;
}

.text {
    color: #3e3e3e;
    margin-bottom: 30px;
}

.inp {
    width: 60%;  
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 16px;
}

.bot {
    width: 70%;  
    padding: 12px;
    margin-top: 20px;
    background-color: #100f10;
    color: white;
    border-radius: 8px;
    font-size: 16px;
}